body {
    background-color: rgb(245, 174, 88);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.header-title {
    text-align: center;
    color: rgb(245, 174, 88);
    font-size: 10rem;
    text-decoration: underline;
    margin: 0;
}
.header {
    background-image: url(sunset.jpeg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
.header-content p {
    color: rgb(245, 174, 88);
    text-align: center;
    font-size: 2rem;
    margin: 0;
}
.subtitle-span {
    font-size: larger;
}
.main-content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    border: 2px solid black;
}
.about-content {
    display: flex;
    flex-direction: column;
    padding: 0.5%;
    margin: 0.5%;
    align-content: space-around;
    background-color: rgba(249, 108, 22, 0.5);
    border-radius: 20px;
    box-shadow: 3px 3px rgb(44, 64, 97);
}
.about-title {
    display: flex;
    justify-content: center;
    padding: 0.5%;
    margin: 0.5%;
    text-decoration: underline;
    font-size: 6rem;
    color: rgb(44, 64, 97);
}
.about-paragraph {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 0.5%;
    margin: 0.5%;
    line-height: 2;
    font-size: 3rem;
}
.about-paragraph span {
    display: flex;
    justify-content: center;
}

.website-links-container {
    display: flex;
    padding: 0.5%;
    margin: 0.5%;
    border: 2px solid black;
}
.website-links-heading {
    padding: 0.5%;
    margin: 0.5%;
    border: 2px solid black;
}
.website-links {
    padding: 0.5%;
    margin: 0.5%;
    border: 2px solid black;
}
.website-links a {

}
.cheeky {
    padding: 0.5%;
    margin: 0.5%;
    border: 2px solid black;
}
.services-content {
    padding: 0.5%;
    margin: 0.5%;
    border: 2px solid black;
}
.services-list-container {
    padding: 0.5%;
    margin: 0.5%;
    border: 2px solid black;
    align-items: center;
}
.services-list-container ul {
    list-style: none;
    padding: 0.5%;
    margin: 0.5%;
    justify-content: center;
    display: center;
    text-align: center;
    border: 2px solid black;
}
.services-list-container li {
    display: inline;
    border: 2px solid black;
    padding: 0.5%;
    margin: 0.5%;
}
.contact-content {
    padding: 0.5%;
    margin: 0.5%;
    border: 2px solid black;
}
.contact-paragraph {
    padding: 0.5%;
    margin: 0.5%;
    border: 2px solid black;
}
.footer-content {
    padding: 0.5%;
    margin: 0.5%;
    border: 2px solid black;
}

p {
    color: rgb(44, 64, 97);
    text-align: center;
    font-size: 2rem;
    padding: 0.5%;
    margin: 0.5%;
}
a {
    text-decoration: none;
    font-size: 2rem;
    color: rgb(44, 64, 97);
    margin: 0.5%;
    text-align: center;
    justify-content: center;
    display: flex;
}
a:hover {
    text-decoration: underline;
}
nav {
    
    position: fixed;
    width: 100%;
    margin-top: 0;
    top: 0;
    left: 0;
    z-index: 1000;
    
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    margin: 0.5%;
}
nav li {
    list-style: none;
    margin: 0 2%;
}
nav a {
    color: rgb(44, 64, 97);
}
nav a:hover {
    text-decoration: underline;
    transition: color 0.7s;
    color: rgb(245, 174, 88);
}
