body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 0;
    padding: 0;
}
.main-content {
    background-color: rgba(249, 221, 22, 0.5);
    display: flex;
    flex-direction: column;
    width: 100vw;
}
p {
    display: flex;
    justify-content: center;
    color: rgb(44, 64, 97);
    text-align: center;
    font-size: 2rem;
    padding: 0.5%;
    margin: 0.5%;
    line-height: 4rem;
}
h2 {
    display: flex;
    justify-content: center;
    color: rgb(44, 64, 97);
    text-decoration: underline;
    padding: 0.5%;
    margin: 0.5%;
}
a {
    color: rgb(44, 64, 97);
    text-decoration: none;
    border: 2px solid black;
    background-color: rgb(86, 124, 169);
    border-radius: 20px;
    padding: 0.5%;
}
div {
    padding: 0.5%;
    margin: 0.5%;
    border-radius: 20px;
}

/* Navigation Styles */

nav {
    position: fixed;
    width: 100%;
    margin-top: 0;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgb(245, 174, 88);
    box-shadow: 3px 3px rgb(44, 64, 97);
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    margin: 0.5%;
}
nav li {
    list-style: none;
    margin: 0 2%;
}
nav a {
    font-size: 2rem;
    margin: 0.5%;
    border: none;
    background-color: rgb(245, 174, 88);
    color: rgb(44, 64, 97);
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
    transition: 0.5s;
}


/* Header Styles */

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(44, 64, 97, 0.2);
    box-shadow: none;
    padding: 0;
    margin: 0;
    border-radius: none;
}
.header-title {
    text-align: center;
    color: rgb(245, 174, 88);
    font-size: 10rem;
    text-decoration: underline;
    margin: 0;
}
.header {
    background-image: url(sunset.jpeg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
.header-content p {
    display: block;
    color: rgb(245, 174, 88);
    text-align: center;
    font-size: 2rem;
    margin: 0;
}
.subtitle-span {
    font-size: larger;
}


/* About Section Styles */

.about-content /*This one*/{
    display: flex;
    flex-direction: column;
    background-color: rgba(249, 108, 22, 0.5);
    box-shadow: 3px 3px rgb(44, 64, 97);
}
.about-content:hover {
    box-shadow: 9px 9px rgb(44, 64, 97);
}
.about-title {
    font-size: 6rem;
    color: rgb(44, 64, 97);
}
.about-paragraph {
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 3rem;
}
.about-paragraph span {
    display: flex;
    justify-content: center;
}


/* Website Links Section Styles */

.website-links-container /*This one*/{
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: rgba(249, 108, 22, 0.5);
    box-shadow: 3px 3px rgb(44, 64, 97);
}
.website-links-container:hover {
    box-shadow: 9px 9px rgb(44, 64, 97);
}
.website-links-heading h2 {
    font-size: 4rem;
    box-shadow: none;
    color: rgb(44, 64, 97);
}
.website-links {
    display: flex;
    justify-content: space-evenly;
    box-shadow: none;
}
.website-links a {
    font-size: 3rem;
    color: rgb(44, 64, 97);
    text-decoration: none;
}
.website-links a:hover {
    color: rgb(245, 174, 88);
    transition:  0.5s;
    text-decoration: underline;
    box-shadow: 2px 3px rgb(44, 64, 97);
}


/* Services Section Styles */

.services-content /*This one*/{
    display: flex;
    flex-direction: column;
    background-color: rgba(249, 108, 22, 0.5);
    box-shadow: 3px 3px rgb(44, 64, 97);
}
.services-content:hover {
    box-shadow: 9px 9px rgb(44, 64, 97);
}
.services-header h2 {
    font-size: 4rem;
    box-shadow: none;
    color: rgb(44, 64, 97);
}
.services-list-container {
    display: flex;
    justify-content: center;
    box-shadow: none;
}
.services-list-container ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0.5%;
    margin: 0.5%;
    width: 100%;
}
.services-list-container li {
    color: rgb(44, 64, 97);
    background-color: rgb(86, 124, 169);
    border-radius: 20px;
    text-align: center;
    font-size: 3rem;
    border: 2px solid black;
    padding: 0.5%;
    margin: 0.5%;
}
.services-list-container li:hover {
    box-shadow: 2px 3px rgb(44, 64, 97);
    text-decoration: underline;
    color: rgb(245, 174, 88);
    transition: 0.5s;
}


/* Contact Section Styles */

.contact-content /*This one*/{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(249, 108, 22, 0.5);
    box-shadow: 3px 3px rgb(44, 64, 97);
}
.contact-content:hover {
    box-shadow: 9px 9px rgb(44, 64, 97);
}
address {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: rgb(44, 64, 97);
    text-align: center;
    line-height: 3rem;
}
.contact-header {
    font-size: 6rem;
    color: rgb(44, 64, 97);
}
form {
    text-align: center;
}
label {
    color: rgb(44, 64, 97);
    font-size: 3rem;
    text-decoration: underline;
    font-weight: 500;
}
.first-name input, .last-name input, .notes input {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border: 3px solid rgb(44, 64, 97);
    color: rgb(44, 64, 97);
    font-size: 2rem;
    border-radius: 10px;
}
.submit input {
    background-color: rgb(86, 124, 169);
    color: rgb(44, 64, 97);
    border: 2px solid black;
    border-radius: 20px;
    font-size: 3rem;
}
.submit input:hover {
    color: rgb(245, 174, 88);
    transition:  0.5s;
    text-decoration: underline;
    box-shadow: 2px 3px rgb(44, 64, 97);
}
.contact-paragraph {
    align-items: baseline;
    font-size: 3rem;
}
.contact-paragraph a {
    color: rgb(44, 64, 97);
    text-decoration: none;
}
.contact-paragraph a:hover {
    text-decoration: underline;
    color: rgb(245, 174, 88);
    transition: 0.5s;
    box-shadow: 2px 3px rgb(44, 64, 97);
}


/* Footer Section Styles */

footer {
    width: 100vw;
    padding: 0;
}
.footer-content /*This one*/{
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: rgba(249, 108, 22, 0.5);
    margin-bottom: 0;
    box-shadow: 3px 3px rgb(44, 64, 97);
}
.footer-content:hover {
    box-shadow: 9px 9px rgb(44, 64, 97);
}
.footer-content p {
    text-align: center;
    font-size: 1.5rem;
}
.footer-content a {
    padding: 0.5%;
    margin: 0.5%;
    font-size: 1.5rem;
    color: rgb(44, 64, 97);
    text-decoration: none;
}
.footer-content a:hover {
    text-decoration: underline;
    box-shadow: 2px 3px rgb(44, 64, 97);
    color: rgb(245, 174, 88);
    transition: 0.5s;
}





